
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px; 
}
h2{
    font-size: 40px;
}
h1 span{
    color: orange;
    
}
p{
    width: 800px;
    font-size: 18px;
}
.flexible-container{
    display: flex;
    
}
.half-width{
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 80%;    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 800;
    padding: 10px 25px;
    border-radius:10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
#tabs{
    margin-left: 300px;
}
.Idol{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}
.heading-color{
    color: orange;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    width:80%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    
}
footer{
    text-align: center;
}
.more{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat; 
    background-position-y: bottom;

}
#border-2{
    border-left:10px solid;
    border-image: linear-gradient(blue, aqua);
    border-image-slice: 1;
}
#border-1{
    border-left:10px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
